logs
project/project
project/target
target
tmp
.history
dist
/.idea/*
!/.idea/runConfigurations
/*.iml
/out
/.idea_modules
/RUNNING_PID
.cache
bin
/*.txt
build
.metadata
.recommenders
RemoteSystemsTempFiles
.classpath
.settings


